.ListItems {
    width: 300px;
}
.ListItems span {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 200px;
    margin-right: 10px;
}

.ListItems span:hover {
    cursor: pointer;
}

button {
    margin-right: 5px
}